{% extends "templates/index.jinja2" %}

{% block head_title %}Страница не найдена{% endblock %}

{% block body_container %}
  <h1> 404 ошибка.</h1>
  <p> Этой страницы нет.  </p>
  <p> Мне бы очень хотелось чтобы она была.  </p>
  <p> Но её нет.  </p>
{% endblock %}
