{% extends "templates/index.jinja2" %}

{% block head_title %}Измышления по поводу сайта Sitelist.in{% endblock %}

{% block head_extra %}
    <style type="text/css">
        .container { width: 900px; margin: 5% auto 0 auto; font-family: Ubuntu,Arial,sans-serif; font-size: 16px; }
    </style>
{% endblock %}


{% block body_container %}

<h1>Измышление куда можно привести <a href="http://sitelist.in">&laquo;Sitelist.in&raquo;</a></h1>
<h3>Вариант первый &laquo;социализация&raquo;</h3>
<p>
    Социализация - это активная задержка пользователей на сайте за счет социальных функций.
</p>
<p>
    Очень внимательно посмотри на <a href="http://www.stumbleupon.com/">www.stumbleupon.com</a>.
</p>
<h4>Инструменты</h4>
<ol>
    <li>Комментарии</li>
    <li>Оценки</li>
    <li>Подборки</li>
    <li>Социальный граф (друзяшки)</li>
</ol>
<h5>Комментарии(Дискуссии)</h5>
<p>
    Friendfeed like.<br>
    Должно быть удобно быстро добавить и отследить дисскуссию.<br>
    Например раздел &laquo;Дискуссии&raquo; со всплывающей сортировкой.
</p>
<h5>Оценки</h5>
<p>
    Можно сделать несколько шкал со звездочками. Например:
    <br>
    <em>Полезность</em><br>
    <em>Красявость</em><br>
    <em>Веселость</em><br>
</p>
<h5>Подборки</h5>
<p>
    Список сайтов, объединенных по какому-нибудь признаку.<br>
    Признак может быть как автоматический(последние на сайте, последние получившие оценку, последние откомментированные, сайты в категории), так и ручной (я создал подписку &laquo;Самые охуительные сайты&raquo; и добавляю туда сайты). 
</p>
<p>
    Пользователи могу видеть список (желательно с активностью в подписках) и каждую подписку в отдельности.
    <br>
    После подписки на подборку в мою ленту и рсс должны валиться сайты с этих подписок
</p>
<p>
    Для удобного просмотра хорошо бы просмотрщик сайтов. Т.е. страница с кнопкой &laquo;следующий&raquo; и виджетами. Виджеты могут быть напрмер комментарии к сайту, оценки, похожие сайты, рекламка опять же. Эта страница становится одной из главных мест тупления людей. Я посмотрел сайт, отлайкал, откомментил и т.д. 
</p>
<h5>Друзяшки</h5>
<p>
    Самый логичный способ это как в фб и фрф. Т.е. светить в ленте действия друзяшек. Хотя их нужность в этом сайте у меня вызывает большие сомнения.
</p>

{% endblock %}
