/* line 1, ../scss/screen.scss */
img {
  border: 0;
}

/* line 4, ../scss/screen.scss */
.container {
  width: 400px;
  margin: 15% auto 0 auto;
  font-family: Ubuntu,Arial,sans-serif;
  font-size: 16px;
}
/* line 9, ../scss/screen.scss */
.container a {
  text-decoration: none;
}
/* line 11, ../scss/screen.scss */
.container a:hover {
  text-decoration: underline;
}
/* line 14, ../scss/screen.scss */
.container a img {
  border: none;
}

/* line 19, ../scss/screen.scss */
.asterisk {
  font-size: 11px;
  color: #7c7c7c;
}

/* line 24, ../scss/screen.scss */
.index_page img {
  vertical-align: bottom;
}
